@font-face {
	font-family: "EB Garamond";
	src: url("../fonts/EB_Garamond/EBGaramond08-Regular.otf");
}

:root {
	--background-color: #dddda8;
	--lines-limit: 175px;
	--animation-time: 1.5s;
	--header-color: #ffffc8;
	--header-padding: 20px;
	--header-height: 15vh;
	--mobile-van-width: 700px;
	--logo-name-color: #680a0a;
	--logo-date-color: #000060;
	--font-family: "EB Garamond", "Playfair Display";
	--font-size: 16px;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-family);
	background-color: var(--background-color);
}



a {
	text-decoration: none;
	color: #000000;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--header-padding);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: var(--header-color);
	height: var(--header-height);
	margin: 0;
	z-index: 100;
}

.logo-name {
	color: var(--logo-name-color);
}

.

.logo-date {
	color: var(--logo-date-color);
}

header .logo-name {
	font-size: 28px;
	padding: 0 10px;
}

header .logo-and {
	font-size: 24px;
}

header .logo-date {
	font-size: 22px;
	padding: 0 10px;
}

nav {
	margin-left: auto;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
}

nav ul li {
	display: inline;
}

nav ul li a {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
}

header h1 {
	display: flex;
	text-align: center;
}

header .header-line {
	position: fixed;
	top: var(--header-height);
	margin-top: -1px;
	margin-left: calc(var(--header-padding) * -1);
	width: 100%;
}

main {
	padding: 20px 0;
}

main p {
	margin-bottom: 20px;
}

footer {
	width: 100%;
	background: #333333;
	color: #ffffff;
	text-align: center;
	padding: 10px 0;
	margin-top: 20px;
	position: fixed;
	bottom: 0;
}

footer p {
	margin: 0;
}

.full-page {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--header-color);
	z-index: 1000;
}

.landing-page {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100%;
	height: 100%;
}

@keyframes continuous-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#circle-checkbox {
	display: none;
}

.circle {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;

	cursor: pointer;
	
	font-size: 28px;
}

.rotate {
	height: 250px;
	position: absolute;
	animation: continuous-rotate 25s var(--d,0s) linear infinite;
}

.circle-date {
	color: var(--logo-date-color);
	top: 50%;
	left: 50%;
	font-variant-caps: small-caps;
}

.center-line {
	position: fixed;
	top: 50%;
	margin-top: -1px;
	width: calc(50vw - var(--lines-limit));
}

.left-line {
	left: 0;
}

.right-line {
	right: 0;
}

@keyframes div-animation {
	0% {height: 100vh}
	50% {height: 50vh}
	99% {height: var(--header-height);}
	100% {height: var(--header-height); visibility: hidden;}
}

@keyframes line-animation {
	0% {width: calc(50vw - var(--lines-limit)); top: 50vh;}
	50% {width: 50vw; top: 50vh;}
	99% {width: 50vw; top: var(--header-height);}
	100% {width: 50vw; top: var(--header-height);}
}

@keyframes line-animation-mobile {
	0% {width: 0vw; visibility: visible; top: 50vh;}
	50% {width: 50vw; visibility: visible; top: 50vh;}
	99% {width: 50vw; visibility: visible; top: var(--header-height);}
	100% {width: 50vw; visibility: hidden; top: var(--header-height);}
}

@keyframes circle-disappear {
	0% {opacity: 1}
	1% {opacity: 1; cursor: default; pointer-events: none;}
	99% {opacity: 0; cursor: default; pointer-events: none;}
	100% {opacity: 0; cursor: default; visibility: hidden;}
}

#circle-checkbox:checked + .full-page {
	animation: div-animation var(--animation-time) forwards;
}

#circle-checkbox:checked + div > .center-line {
	animation: line-animation var(--animation-time) forwards;
}

#circle-checkbox:checked + div > .circle {
	animation: circle-disappear 0.35s forwards;
}

@media (max-width: 500px) {
	.center-line {
		visibility: hidden;
	}

	#circle-checkbox:checked + div > .center-line {
		animation: line-animation-mobile var(--animation-time) forwards;
	}


}
